[package]
name = "integration-tests"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = { workspace = true }
bitcoin = { workspace = true, optional = true, features = ["rand-std"] }
candid = { workspace = true }
did = { workspace = true }
eth-signer = { workspace = true }
ethereum-json-rpc-client = { workspace = true, features = [
    "reqwest",
    "pocket-ic-tests-client",
] }
ethereum-types = { workspace = true }
ethers-core = { workspace = true }
evm-canister-client = { workspace = true }
hex = { workspace = true }
ic-btc-interface = { workspace = true }
ic-canister = { workspace = true }
ic-canister-client = { workspace = true, features = ["pocket-ic-client", "ic-agent-client"] }
ic-exports = { workspace = true, features = ["icrc", "ledger"] }
ic-helpers = { workspace = true }
icrc-client = { workspace = true }
ic-log = { workspace = true }
ic-stable-structures = { workspace = true }
icrc2-minter = { path = "../icrc2-minter" }
jsonrpc-core = { workspace = true }
minter-client = { workspace = true }
minter-contract-utils = { path = "../minter-contract-utils", features = [
    "test-contracts",
] }
minter-did = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
rlp = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
solidity-helper = { path = "../solidity-helper" }
serde_bytes = "0.11.14"

# state machine tests deps
ic-config = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-base-types = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-bitcoin-canister-mock = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-canisters-http-types = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-ckbtc-kyt = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-ckbtc-minter = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-icrc1-ledger = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-management-canister-types = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }
ic-state-machine-tests = { git = "https://github.com/dfinity/ic.git", tag = "release-2024-04-03_23-01-base", optional = true }

[dev-dependencies]
anyhow = { workspace = true }
btc-bridge = { path = "../btc-bridge" }
ethereum-json-rpc-client = { workspace = true, features = ["reqwest", "pocket-ic-tests-client"] }
futures = { workspace = true, features = ["executor"] }
ic-test-utils = { workspace = true }
ic-agent = { workspace = true }
ic-utils = { workspace = true }
rlp = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["fs", "process"] }
erc20-minter = { path = "../erc20-minter" }
signature-verification-canister-client = { workspace = true }
rune-bridge = { path = "../rune-bridge" }

# IC deps

[features]
pocket_ic_integration_test = []
state_machine_tests = [
    "bitcoin",
    "ic-config",
    "ic-base-types",
    "ic-bitcoin-canister-mock",
    "ic-canisters-http-types",
    "ic-ckbtc-minter",
    "ic-ckbtc-kyt",
    "ic-icrc1-ledger",
    "ic-management-canister-types",
    "ic-state-machine-tests",
]
dfx_tests = []